* {
    margin: 0;
    padding: 0;
}
main {
    background-color: black;
}
section {
    width: 70vw;
    height: 100vh;
    padding: 10px;
    margin: auto;
    margin-top: 10px
}
#nav {
    background-color: white;

}
.navbar {
    padding: 10px;
    margin: auto;
    width: 85%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#nav h1 {
    text-align: center;
    font-size: 2.5em;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
    line-height: 50%;
    background-color: black;
} 
li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 34px;
    line-height: 3em;
}
li a:hover {
    text-shadow: 5px 5px 5px white;
    color:black;
    background-color: white;
}
.content {
    padding-right: 5px;
}
.content li {
    line-height: 1.5em;
}
.img-content {
    display: flex;
    flex-direction: row;
    align-items: center;   
}
img {
    background-size: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#info {
    background-color: white;
}
#info h1 {
    text-align: center;
}
#display {
    height: 40%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30%;
    font-size: 2em;
}
button {
    margin-top: 10px;
    font-size: 2em;
    align-items: center;
}
#dogs {
    background-color: bisque;
}
#form {
    background-color: aqua;
}